// Inter

//@font-face {
//  font-family: 'Inter';
//  font-style: normal;
//  font-weight: 400;
//  font-display: swap;
//  src: url("../assets/fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"),
//  url("../assets/fonts/inter/Inter-Regular.woff?v=3.19") format("woff");
//}
//
//@font-face {
//  font-family: 'Inter';
//  font-style: normal;
//  font-weight: 500;
//  font-display: swap;
//  src: url("../assets/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"),
//  url("../assets/fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
//}
//
//@font-face {
//  font-family: 'Inter';
//  font-style: normal;
//  font-weight: 600;
//  font-display: swap;
//  src: url("../assets/fonts/inter/Inter-SemiBold.woff2?v=3.19") format("woff2"),
//  url("../assets/fonts/inter/Inter-SemiBold.woff?v=3.19") format("woff");
//}
//
//@font-face {
//  font-family: 'Inter';
//  font-style: normal;
//  font-weight: 700;
//  font-display: swap;
//  src: url("../assets/fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"),
//  url("../assets/fonts/inter/Inter-Bold.woff?v=3.19") format("woff");
//}
//
//@font-face {
//  font-family: 'Inter';
//  font-style: normal;
//  font-weight: 800;
//  font-display: swap;
//  src: url("../assets/fonts/inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
//  url("../assets/fonts/inter/Inter-ExtraBold.woff?v=3.19") format("woff");
//}

/** Outfit */

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/outfit/Outfit-Regular.woff2") format("woff2"),
  url("../assets/fonts/outfit/Outfit-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/outfit/Outfit-Medium.woff2") format("woff2"),
  url("../assets/fonts/outfit/Outfit-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/outfit/Outfit-SemiBold.woff2") format("woff2"),
  url("../assets/fonts/outfit/Outfit-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/outfit/Outfit-Bold.woff2") format("woff2"),
  url("../assets/fonts/outfit/Outfit-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts/outfit/Outfit-ExtraBold.woff2") format("woff2"),
  url("../assets/fonts/outfit/Outfit-ExtraBold.woff") format("woff");
}